vector1 <- c(2, 3, 4, 8,15)

In [6]:
vector2 <- c("black", "Natural", "pvc shine", "gs3 natural", "white/uncolored")

In [8]:
vector2_factor <- factor(vector2,
                        ordered = TRUE,
                        levels = c("Natural", "pvc shine", "gs3 natural", "white/uncolored", "black"))

In [9]:
vector2_factor

[1] black           Natural         pvc shine       gs3 natural
[5] white/uncolored
Levels: Natural < pvc shine < gs3 natural < white/uncolored < black

In [1]:
#importingh data in R

#reading the csv file
read.csv("movies-db.csv")

   name                                      year length_min genre
1  Toy Story                                 1995  81        Animation
2  Akira                                     1998 125        Animation
3  The Breakfast Club                        1985  97        Drama
4  The Artist                                2011 100        Romance
5  Modern Times                              1936  87        Comedy
6  Fight Club                                1999 139        Drama
7  City of God                               2002 130        Crime
8  The Untouchables                          1987 119        Drama
9  Star Wars Episode IV                      1977 121        Action
10 American Beauty                           1999 122        Drama
11 Room                                      2015 118        Drama
12 Dr. Strangelove                           1964  94        Comedy
13 The Ring                                  1998  95        Horror
14 Monty Python and the Holy Grail           1975  91        Comedy
15 High School Musical                       2006  98        Comedy
16 Shaun of the Dead                         2004  99        Horror
17 Taxi Driver                               1976 113        Crime
18 The Shawshank Redemption                  1994 142        Crime
19 Interstellar                              2014 169        Adventure
20 Casino                                    1995 178        Biography
21 The Goodfellas                            1990 145        Biography
22 Blue is the Warmest Colour                2013 179        Romance
23 Black Swan                                2010 108        Thriller
24 Back to the Future                        1985 116        Sci-fi
25 The Wave                                  2008 107        Thriller
26 Whiplash                                  2014 106        Drama
27 The Grand Hotel Budapest                  2014 100        Crime
28 Jumanji                                   1995 104        Fantasy
29 The Eternal Sunshine of the Spotless Mind 2004 108        Drama
30 Chicago                                   2002 113        Comedy
   average_rating cost_millions foreign age_restriction
1  8.3             30.0         0        0
2  8.1             10.4         1       14
3  7.9              1.0         0       14
4  8.0             15.0         1       12
5  8.6              1.5         0       10
6  8.9             63.0         0       18
7  8.7              3.3         1       18
8  7.9             25.0         0       14
9  8.7             11.0         0       10
10 8.4             15.0         0       14
11 8.3             13.0         1       14
12 8.5              1.8         1       10
13 7.3              1.2         1       18
14 8.3              0.4         1       18
15 5.2              4.2         0        0
16 8.0              6.1         1       18
17 8.3              1.3         1       14
18 9.3             25.0         0       16
19 8.6            165.0         0       10
20 8.2             50.0         0       18
21 8.7             25.0         0       14
22 7.8              4.5         1       18
23 8.0             13.0         0       16
24 8.5             19.0         0        0
25 7.6              5.5         1       16
26 8.5              3.3         1       12
27 8.1             25.5         0       14
28 6.9             65.0         0       12
29 8.3             20.0         0       14
30 7.2             45.0         0       12

In [2]:
#opening excel file with 
install.packages("readxl")

Installing package into ‘/home/labsuser/.R/pkgs’
(as ‘lib’ is unspecified)

Warning message in install.packages("readxl"):
“installation of package ‘readxl’ had non-zero exit status”

In [3]:
library(readxl)

In [4]:
read_excel ("movies-db.xls")

   name                                      year length_min genre
1  Toy Story                                 1995  81        Animation
2  Akira                                     1998 125        Animation
3  The Breakfast Club                        1985  97        Drama
4  The Artist                                2011 100        Romance
5  Modern Times                              1936  87        Comedy
6  Fight Club                                1999 139        Drama
7  City of God                               2002 130        Crime
8  The Untouchables                          1987 119        Drama
9  Star Wars Episode IV                      1977 121        Action
10 American Beauty                           1999 122        Drama
11 Room                                      2015 118        Drama
12 Dr. Strangelove                           1964  94        Comedy
13 The Ring                                  1998  95        Horror
14 Monty Python and the Holy Grail           1975  91        Comedy
15 High School Musical                       2006  98        Comedy
16 Shaun of the Dead                         2004  99        Horror
17 Taxi Driver                               1976 113        Crime
18 The Shawshank Redemption                  1994 142        Crime
19 Interstellar                              2014 169        Adventure
20 Casino                                    1995 178        Biography
21 The Goodfellas                            1990 145        Biography
22 Blue is the Warmest Colour                2013 179        Romance
23 Black Swan                                2010 108        Thriller
24 Back to the Future                        1985 116        Sci-fi
25 The Wave                                  2008 107        Thriller
26 Whiplash                                  2014 106        Drama
27 The Grand Hotel Budapest                  2014 100        Crime
28 Jumanji                                   1995 104        Fantasy
29 The Eternal Sunshine of the Spotless Mind 2004 108        Drama
30 Chicago                                   2002 113        Comedy
   average_rating cost_millions foreign age_restriction
1  8.3             30.0         0        0
2  8.1             10.4         1       14
3  7.9              1.0         0       14
4  8.0             15.0         1       12
5  8.6              1.5         0       10
6  8.9             63.0         0       18
7  8.7              3.3         1       18
8  7.9             25.0         0       14
9  8.7             11.0         0       10
10 8.4             15.0         0       14
11 8.3             13.0         1       14
12 8.5              1.8         1       10
13 7.3              1.2         1       18
14 8.3              0.4         1       18
15 5.2              4.2         0        0
16 8.0              6.1         1       18
17 8.3              1.3         1       14
18 9.3             25.0         0       16
19 8.6            165.0         0       10
20 8.2             50.0         0       18
21 8.7             25.0         0       14
22 7.8              4.5         1       18
23 8.0             13.0         0       16
24 8.5             19.0         0        0
25 7.6              5.5         1       16
26 8.5              3.3         1       12
27 8.1             25.5         0       14
28 6.9             65.0         0       12
29 8.3             20.0         0       14
30 7.2             45.0         0       12

In [5]:
#Accessing data from datasets
mydata <- read.csv("movies-db.csv")

In [6]:
mydata["name"]

   name
1  Toy Story
2  Akira
3  The Breakfast Club
4  The Artist
5  Modern Times
6  Fight Club
7  City of God
8  The Untouchables
9  Star Wars Episode IV
10 American Beauty
11 Room
12 Dr. Strangelove
13 The Ring
14 Monty Python and the Holy Grail
15 High School Musical
16 Shaun of the Dead
17 Taxi Driver
18 The Shawshank Redemption
19 Interstellar
20 Casino
21 The Goodfellas
22 Blue is the Warmest Colour
23 Black Swan
24 Back to the Future
25 The Wave
26 Whiplash
27 The Grand Hotel Budapest
28 Jumanji
29 The Eternal Sunshine of the Spotless Mind
30 Chicago

In [7]:
mydata[1,] # to read one row

  name      year length_min genre     average_rating cost_millions foreign
1 Toy Story 1995 81         Animation 8.3            30            0
  age_restriction
1 0

In [8]:
# to access specific row  and selected col
mydata[6, c("name", "genre")]

  name       genre
6 Fight Club Drama

In [9]:
head(mydata)#it5 will give 1st 6

  name               year length_min genre     average_rating cost_millions
1 Toy Story          1995  81        Animation 8.3            30.0
2 Akira              1998 125        Animation 8.1            10.4
3 The Breakfast Club 1985  97        Drama     7.9             1.0
4 The Artist         2011 100        Romance   8.0            15.0
5 Modern Times       1936  87        Comedy    8.6             1.5
6 Fight Club         1999 139        Drama     8.9            63.0
  foreign age_restriction
1 0        0
2 1       14
3 0       14
4 1       12
5 0       10
6 0       18

In [11]:
tail(mydata) #last 6 elements will be shown

   name                                      year length_min genre
25 The Wave                                  2008 107        Thriller
26 Whiplash                                  2014 106        Drama
27 The Grand Hotel Budapest                  2014 100        Crime
28 Jumanji                                   1995 104        Fantasy
29 The Eternal Sunshine of the Spotless Mind 2004 108        Drama
30 Chicago                                   2002 113        Comedy
   average_rating cost_millions foreign age_restriction
25 7.6             5.5          1       16
26 8.5             3.3          1       12
27 8.1            25.5          0       14
28 6.9            65.0          0       12
29 8.3            20.0          0       14
30 7.2            45.0          0       12

In [12]:
mydata[1:6, c("name", "genre")]

  name               genre
1 Toy Story          Animation
2 Akira              Animation
3 The Breakfast Club Drama
4 The Artist         Romance
5 Modern Times       Comedy
6 Fight Club         Drama

In [13]:
str(mydata) # to get detail about the structure of the table

'data.frame':	30 obs. of  8 variables:
 $ name           : Factor w/ 30 levels "Akira","American Beauty",..: 29 1 21 20 14 10 8 27 18 2 ...
 $ year           : int  1995 1998 1985 2011 1936 1999 2002 1987 1977 1999 ...
 $ length_min     : int  81 125 97 100 87 139 130 119 121 122 ...
 $ genre          : Factor w/ 12 levels "Action","Adventure",..: 3 3 7 10 5 7 6 7 1 7 ...
 $ average_rating : num  8.3 8.1 7.9 8 8.6 8.9 8.7 7.9 8.7 8.4 ...
 $ cost_millions  : num  30 10.4 1 15 1.5 63 3.3 25 11 15 ...
 $ foreign        : int  0 1 0 1 0 0 1 0 0 0 ...
 $ age_restriction: int  0 14 14 12 10 18 18 14 10 14 ...

In [14]:
#reading files 
#set the directories to the folder where the the file is by using the setwd("filepth/dir")
#using the following command read the line and assigm it to the variable

hbar <- readLines("tata_hbar.txt")
hbar #now ctrl + enter

[1] "25 64 93" "45 65 93"

In [15]:
#writing on the txt file using the write command
#  suppose we have the matrix hbar, and we have to write the hbar to the txt file to the "tata_har.txt"
#write command in following way
h_bar <- matrix(c(25, 64, 93, 45, 65, 93), nrow = 2, ncol = 3)
h_bar # now we have h_bar matrix
write(h_bar, file = "tata_hbar.txt",
     ncolumns = 3, sep =" ")

     [,1] [,2] [,3]
[1,] 25   93   65
[2,] 64   45   93